# Dependencies
node_modules/

# Production
build/
dist/

# Testing
coverage/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Cache
.npm
.eslintcache

# Misc
*.tmp
*.temp
